<h2>Inserting Movement</h2> 

<%= form_for @movement, :url => admin_movements_url do |form| %>   
  <table>
  <tr><td colspan="2"><%= render "shared/error_messages", :target => @movement %> </td></tr>  
  <tr><td><label>Customer</label></td><td><%= collection_select(:customer, :id, @customers, :id, :name, options ={:prompt => "Select a Customer"}) %></td></tr>  
  <tr><td><%= form.label "Date" %></td><td> <%= form.text_field :created_at %> </td></tr>
  <tr><td><%= form.label "Type" %></td><td><%= select( "movement", "mtype", {"Deposit" => "1", "Withdrawal" => "2"}, {:selected => "1"}) %></td></tr>  
  <tr><td><%= form.label :amount %></td><td><%= form.text_field :amount %></td></tr>
  <tr><td><%= form.label :description %></td><td><%= form.text_field :description %></td></tr>    
  </table> 
  <%= form.submit "Create" %> <% end %> <br />